body{
    margin: 0;
    padding-block-end: 0;
    font-family: sans-serif;
}
header{
    background-color: #0078d7;
    color: white;
    text-align: center;
    padding: 20px 0;
}
section{
    width: 80%;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0 0 10px rgb(119, 119, 119) ;
    border-radius: 10px;
    padding: 30px;
}

section h2{
    color: #0078d7;
    font-size: 35px;
}
section p{
    font-size: large;
}
fieldset{
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    border-color: transparent;
}
fieldset legend{
    color: #0078d7;
    font-weight: bold;
    font-size: large;
}
.para{
    font-size: 15px;
}
li a{
    text-decoration: none;
    color: #0078d7;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1{
        font-size: 20px;
    }
    section h2{
        font-size: 25px;
    }
    section p{
        font-size: small;
    }
}